Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2021-09, with the labels that each got.

#169 rgw/v2/utils/utils: fix systemd unit file name for nautilus
  rgw/v2/utils/utils.py
Labels: lgtm, approved

#171 sts: use sts related policy doc from yaml
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto.yaml
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW

#172 sts: server_side copy operation added
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_server_side_copy.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sts_using_boto_servser_side_copy.py
Labels: RGW, verified

#178 Added multipart upload with bucket policy enabled which
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_with_multipart_upload.yaml
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
  rgw/v2/utils/utils.py
Labels: RGW
