Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2021-06, with the labels that each got.

#123 Added s3cmd support
  rgw/requirements.txt
  rgw/v2/lib/exceptions.py
  rgw/v2/lib/s3cmd/__init__.py
  rgw/v2/lib/s3cmd/auth.py
  rgw/v2/lib/s3cmd/resource_op.py
  rgw/v2/tests/s3_swift/test_swift_bulk_delete.py
  rgw/v2/tests/s3cmd/__init__.py
  rgw/v2/tests/s3cmd/configs/test_s3cmd.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/s3cfg_sample
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW

#131 improving ceph config class
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, verified

#127 Added swift object expiration testcase
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_swift_object_expire_op.yaml
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, verified

#125 add tests on MFA deletes on versioned buckets
  rgw/v2/lib/exceptions.py
  rgw/v2/tests/s3_swift/configs/test_rgw_mfa.yaml
  rgw/v2/tests/s3_swift/configs/test_rgw_mfa_incorrect_syntax.yaml
  rgw/v2/tests/s3_swift/configs/test_rgw_mfa_multipart.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_rgw_mfa.py
Labels: RGW, verified

#136 check multisite sync status
  rgw/v2/lib/exceptions.py
  rgw/v2/lib/sync_status.py
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_LargeObjGet_GC.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
  rgw/v2/tests/s3_swift/test_bucket_listing.py
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
  rgw/v2/tests/s3_swift/test_versioning_copy_objects.py
  rgw/v2/tests/s3_swift/test_versioning_with_objects.py
  rgw/v2/tests/s3_swift/user_create.py
  rgw/v2/utils/utils.py
Labels: RGW, verified

#138 remove sync_status call in user_create.py
  rgw/v2/tests/s3_swift/user_create.py
Labels: RGW, needs-qa

#140 Added log message instead of test result
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, verified

#141 Added TC(CEPH-9809) for downloading large swift object
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_swift_large_download.yaml
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, verified
