Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2022-12, with the labels that each got.

#367 Added support of running sync lease command on any site
  rgw/v2/lib/sync_status.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified

#359 Delete bucket after suspend is enabled
  rgw/v2/tests/s3_swift/configs/test_versioning_objects_suspended_delete.yaml
  rgw/v2/tests/s3_swift/test_versioning_with_objects.py
Labels: RGW, pr-verified

#366 fixing <document_start> expected error while parsing io_info yaml file
  rgw/v2/lib/read_io_info.py
  rgw/v2/lib/s3/write_io_info.py
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified

#374 adding support of bucket notifications for lifecycle events
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_object_exp_multipart_notifications.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_delete_marker_notifications.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_notifications.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_parallel_notifications.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_prefix_non_current_days_notifications.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_lc_object_exp_multipart.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified

#376 fixing minor issue: key not found 'msgs'
  rgw/v1/lib/s3/rgw.py
Labels: RGW, pr-verified

#375 Changes to delete all buckets and its objects
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, pr-verified

#371 Adds yaml file for multiple bucket delete operation
  rgw/v2/tests/s3_swift/multisite_configs/test_delete_multiple_buckets.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified

#377 Added more delay to avoid metadata sync failure
  rgw/v2/lib/sync_status.py
Labels: RGW, pr-verified

#373 Adding support for quincy build
  rbd/utils/utils.py
Labels: RBD

#378 TFA:fixes incorrect reporting of rgw crashes
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
Labels: RGW

#379 Adds more delay after RGW restart to avoid unavailability of RGW service
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified
