Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-12, with the labels that each got.

#513 CEPH-83575917: Test archive site on/off on an upload of 5K objects
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, lgtm, review-in-progress, Tier-4

#520 Test object lock no overwrite in Compliance and Governance mode
  rgw/v2/tests/s3_swift/configs/test_object_lock_no_overwrite.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_object_lock_no_overwrite.py
Labels: RGW, lgtm, close-loop-automation, Tier-4

#521 test rgw restore index tool
  rgw/v2/tests/s3_swift/multisite_configs/test_rgw_restore_index_versioned_buckets.yaml
  rgw/v2/tests/s3_swift/test_rgw_restore_index_tool.py
Labels: RGW, lgtm, close-loop-automation, tier-3

#523 [TFA-Fix]: Fix the issue of name error 'true' not found with timeinit…
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#524 fixing log file not being populated in test_byte_range testcase
  rgw/v2/tests/s3_swift/test_byte_range.py
Labels: RGW, pr-verified, lgtm

#522 [close loop][automation]: BZ-2153834, bucket granular sync policy
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucket_sync_policy.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#525 Increase sleep time post rgw service restart
  rgw/v2/tests/s3cmd/test_ratelimit_global.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#528 TFA-Fix: AWSCommandExecError: List object versions on bucket failed
  rgw/v2/tests/aws/test_delete_version_id_null.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#527 [Granular] bucket sync policy combination of zonegroup and bucket level policy
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_allowed_forbidden.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_enable_enable.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, Tier-2
