Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-11, with the labels that each got.

#505 [CEPH-83575880]Automation of user modify with --placement-id
  rgw/v2/tests/s3_swift/configs/test_user_modify_with_placementid.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_user_modify_with_placementid.yaml
  rgw/v2/tests/s3_swift/user_create.py
  rgw/v2/utils/utils.py
Labels: RGW, lgtm, close-loop-automation, Tier-2

#508 TFA: Fix Object delete in tier2 MS regression suite
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_generation.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_dynamic_resharding_quota_exceed.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_resharding_disable_in_zonegroup.yaml
Labels: RGW, lgtm, review-in-progress, tfa-issue-fix

#506 Increase the sync lease to 1200 seconds for 0 shards sync test
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, lgtm, tfa-issue-fix

#509 Increase timeout for cloud transition to happen.
  rgw/v2/tests/s3_swift/test_cloud_transition.py
Labels: lgtm, approved

#511 [TC:CEPH-83575469]:deleting lifecycle rule should not throw any error
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3cmd/configs/test_deletelifecycle.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-4

#510 Fix TFA issue of "TypeError: the JSON object must be str, bytes or bytearray, not bool"
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#512 Change polarian for the config
  rgw/v2/tests/s3cmd/configs/test_deletelifecycle.yaml
Labels: RGW, lgtm

#515 [TFA]Fix failure seen in create bucket with aws
  rgw/v2/tests/aws/reusable.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#514 [Tier-2]CEPH-11204-BucketNotification with users in same tenant and diff tenant
  rgw/v2/tests/s3_swift/configs/test_put_get_bucket_notification_with_tenant_same_and_different_user.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_put_get_bucket_notification_with_tenant_same_and_different_user.yaml
  rgw/v2/tests/s3_swift/test_bucket_policy_with_tenant_user.py
Labels: RGW, pr-verified, lgtm, Tier-2

#516 [Close-loop-automation] Granualr sync policy : BZ2132554
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_sync_policy_extended.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_sync_policy.py
  rgw/v2/tests/s3_swift/test_multisite_syncpolicy_prefix_tag.py
Labels: RGW, pr-verified, lgtm, close-loop-automation

#517 [T2-Automation]: CEPH-11195:Set lifecycle rule to abort incomplete mu…
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_incomplete_multipart.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_config_ops.py
Labels: RGW, pr-verified, lgtm, Tier-2

#519 [TFA]: replacing topic list with topic get for testing put empty bucket notifications
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
