Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-09, with the labels that each got.

#497 decreasing number of multipart objects to be updated in vm cluster
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_object_exp_multipart.yaml
Labels: RGW, lgtm, tfa-issue-fix

#496 CEPH-83574621: Test bucket chown on an sse-s3 encrypted bucket
  rgw/v2/tests/s3_swift/multisite_configs/test_encrypted_bucket_chown.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_encrypted_bucket_chown.py
Labels: RGW, lgtm, tier-3

#494 Perform s3cmd get for some large and small objects resides in bucket
  rgw/v2/lib/s3cmd/auth.py
  rgw/v2/tests/s3cmd/configs/test_get_s3cmd.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, lgtm, tier-3

#498 tfa fix: "lc validation for object transition failed"
  rgw/v2/tests/s3_swift/reusable.py
Labels: lgtm

#493 test s3-copy-via-encryption
  rgw/v2/tests/s3_swift/multisite_configs/test_server_side_copy_object_via_encryption.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_s3_copy_encryption.py
Labels: RGW, lgtm, close-loop-automation

#495 [T2-Automation]: CEPH-83575816 - Radosgw bucket list should not be tr…
  rgw/v2/tests/s3_swift/configs/test_bucket_list_not_truncated.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_list_not_truncated.yaml
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, pr-verified, lgtm, Tier-2

#499 small change in capitalization in the event type ObjectLifecycle:Expiration:Noncurrent
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: RGW, lgtm, tfa-issue-fix
