Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-08, with the labels that each got.

#484 Fix json decoder failure
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm

#486 Fix s3cmd issue of UTF-8 ASCII
  rgw/v2/tests/s3cmd/test_header_size.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, lgtm

#488 testing sts assume role with web identity using keycloak server
  rgw/v2/tests/s3_swift/configs/test_sts_aswi.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_azp_claim.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_sub_claim.yaml
  rgw/v2/tests/s3_swift/reusables/sts.py
  rgw/v2/tests/s3_swift/test_sts_aswi.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, lgtm

#490 rgw_override_bucket_index_max_shards takes string value
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#492 [Closed-loop]:[RGW-MS][Versioning]: Deleting an object [with version-…
  rgw/v2/lib/aws/auth.py
  rgw/v2/tests/aws/configs/test_delete_version_id_null.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_delete_version_id_null.py
Labels: RGW, pr-verified, lgtm, close-loop-automation
