Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-03, with the labels that each got.

#403 [RGW-T3 Automation]: CEPH-83575439
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_user_stats_reset.yaml
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified

#406 Test LC transition/expiration with manual reshard.
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_lc_date.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_transition_with_prefix_rule.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration.py
Labels: RGW, pr-verified

#408 Adds support of bucket sync disable and enable feature
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_sync_disable_enable.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified

#410 test lc expiration with dynamic resharding
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_dynamic_reshard.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_manual_reshard.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_manual_reshard_verify_attr.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration.py
Labels: RGW, pr-verified

#411 Fixing the error with bucket log trim on a non-existent bucket
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, close-loop-automation

#414 Put and Get Bucket Notification Using Tenant User
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_with_tenant_user.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_notification_with_tenant_user.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified

#412 integrating resharding with notifications
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_persistent_dynamic_reshard.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_persistent_manual_reshard.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_expiration_notifications.yaml
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified

#413 testing bucket policy with multiple conflicting statements
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_multiple_conflicting_statements.yaml
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
Labels: RGW, pr-verified

#419 change max_objs_per_shard to 5(as default)
  rgw/v2/tests/s3_swift/configs/test_dbr_with_custom_objs_per_shard_and_max_dynamic_shard.yaml
  rgw/v2/tests/s3_swift/configs/test_dbr_with_custom_objs_per_shard_max_dynamic_shard_and_reshard_thread_interval.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_dynamic_resharding_brownfield.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_dynamic_resharding_greenfield.yaml
Labels: RGW, pr-verified

#421 support to check for large omap and cluster health
  rgw/v2/lib/sync_status.py
Labels: RGW, pr-verified

#417 [T2-Automation][RGW]: CEPH-10647
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_delete_current_version_object.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_delete_current_version_object.yaml
  rgw/v2/tests/s3_swift/test_versioning_with_objects.py
Labels: RGW, pr-verified

#422 BZ-2174235:[SERPRO]: No metadata loss post a bucket is resharded.
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_bucket_index_shards.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified, close-loop-automation

#425 testing bucket notifications with metadata filter
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_persistent_filter.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified

#423 testing bucket policy with multiple statements
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_multiple_statements.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_policy_ops.py
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
Labels: RGW, pr-verified

#418 Include support to aws and perform large object rename through sts user
  rgw/v2/lib/aws/__init__.py
  rgw/v2/lib/aws/auth.py
  rgw/v2/lib/aws/resource_op.py
  rgw/v2/lib/exceptions.py
  rgw/v2/tests/aws/__init__.py
  rgw/v2/tests/aws/aws_sample
  rgw/v2/tests/aws/configs/test_aws.yaml
  rgw/v2/tests/aws/configs/test_sts_rename_large_object.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
  rgw/v2/tests/aws/test_sts_rename_large_object.py
Labels: RGW, pr-verified, close-loop-automation

#420 [T2-Automation][RGW]: CEPH-10641
  rgw/v2/tests/s3_swift/configs/test_access_versioned_objects.yaml
  rgw/v2/tests/s3_swift/test_versioning_with_objects.py
Labels: RGW, pr-verified

#424 Global Ratelimit tests CEPH-83574915, CEPH-83574916
  rgw/v2/tests/s3cmd/configs/test_ratelimit_global.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_bucket_stats.py
  rgw/v2/tests/s3cmd/test_ratelimit_global.py
Labels: RGW

#429 increase object count
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_dynamic_resharding_brownfield.yaml
Labels: RGW, pr-verified

#427 T2 automation-CEPH-11574-s3:ListBucketVersions with users in same tenant
  rgw/v2/tests/s3_swift/configs/test_list_all_multipart_uploads.yaml
  rgw/v2/tests/s3_swift/configs/test_listbucketversion_with_bucketpolicy_for_tenant_user.yaml
  rgw/v2/tests/s3_swift/test_list_all_multipart_uploads.py
Labels: RGW, pr-verified

#428 testing bucket notifications with radosgw-admin topic commands
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified

#432 T2 test CEPH-83575135 which tests sync group state change and remove
  rgw/v2/tests/s3_swift/multisite_configs/test_sync_policy_state_change.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_sync_policy.py
Labels: RGW

#433 Add support for Object Lock Compliance mode TC CEPH-83574057
  rgw/v2/tests/s3_swift/configs/test_object_lock_compliance.yaml
  rgw/v2/tests/s3_swift/configs/test_object_lock_governance.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_sync_policy.py
  rgw/v2/tests/s3_swift/test_object_lock.py
Labels: RGW

#436 Fix Rate Limit script for tenanted users
  rgw/v2/tests/s3cmd/test_rate_limit.py
Labels: RGW
