Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-06, with the labels that each got.

#466 hotfix:[square-ecommerce][CEPH-83575573]: Test sync with 0 num_shards
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_0_shards_sync_test_haproxy.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, close-loop-automation

#465 CEPH-83574048: Test LC transition with object acl set
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_lc_transition_with_obj_acl_haproxy.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_lc_transition_with_prefix_rule_haproxy.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW

#467 bz-2182022 [Inditex] Test Duplicates at archive zone
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_no_reshard_haproxy.yaml
Labels: RGW

#468 [Inditex]bug-1937618, retain bucket policies at archive site
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_bucket_pol_retain.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, close-loop-automation

#469 Automation: MS-DBR - Disable resharding feature on a greenfield cluster.
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_resharding_disable_in_zonegroup.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified

#470 testing the buckets are accessible if the num_objects quota exceeds on a dynamically resharded bucket
  rgw/v2/tests/s3_swift/multisite_configs/test_dynamic_resharding_quota_exceed.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified

#472 This test are included in ss including same in ms
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_request_payer.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_request_payer_download.yaml
Labels: RGW

#471 [RGW-MS][T2-Automation]: CEPH-83574423
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_generation.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified

#473 Fix TFA Issue
  rgw/v2/tests/s3_swift/test_bucket_lc_object_exp_multipart.py
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, pr-verified

#474 TFA: LC expiration and test sync with 0 shards.
  rgw/v2/tests/s3_swift/multisite_configs/test_lc_rule_prefix_non_current_days_haproxy.yaml
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW

#475 Put Get lifecycle configuration using tenant users
  rgw/v2/tests/s3_swift/configs/test_bucket_put_get_lifecycle_configuration_with_tenant_users.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_policy_with_tenant_user.py
Labels: RGW, pr-verified

#478 close-loop-bug-2137596: Test bucket versioning is never suspended at archive site
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/multisite_configs/test_versioning_objects_suspend_archive_haproxy.yaml
  rgw/v2/tests/s3_swift/test_versioning_with_objects.py
Labels: RGW, close-loop-automation

#476 Version the bucket with a different user using swift version enabler
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_swift_enable_version_with_different_user.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, pr-verified
