Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-07, with the labels that each got.

#477 testing rgw using curl and testing transfer-encoding chunked with put object instead of content length
  rgw/v2/lib/curl/__init__.py
  rgw/v2/lib/curl/resource_op.py
  rgw/v2/tests/curl/__init__.py
  rgw/v2/tests/curl/configs/test_curl_transfer_encoding_chunked.yaml
  rgw/v2/tests/curl/configs/test_rgw_using_curl.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_rgw_using_curl.py
Labels: RGW, pr-verified, close-loop-automation

#480 Import lc multipart object expiration config from single site to multisite
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_lc_object_exp_multipart.yaml
Labels: RGW

#481 Fix issues of loading config file and user creation
  rgw/v1/tests/multisite/test_acls.py
Labels: RGW, pr-verified

#479 Fix bucket generation workflow
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified
