Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2023-02, with the labels that each got.

#382 adding support for testing s3cmd malformed url
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_cp.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_del.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_get.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_ls.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_multipart.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_mv.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_put.yaml
  rgw/v2/tests/s3cmd/configs/test_s3cmd_malformed_url_sync.yaml
  rgw/v2/tests/s3cmd/reusables/malformed_url.py
  rgw/v2/tests/s3cmd/test_s3cmd_malformed_url.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified

#385 CEPH-11199 - Add a new lifecycle configuration to a bucket
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_add_new_lc_to_bucket.yaml
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_config_ops.py
Labels: RGW, pr-verified

#384 Automation of polarian: CEPH-83574831
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_bucket_remove_with_multipart_abort.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_LargeObjGet_GC.py
Labels: RGW, pr-verified

#383 Modified sharding number calculation for DBR scenario
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_dynamic_resharding_brownfield.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_manual_resharding_brownfield.yaml
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified

#386 Fail the sts policy with invalid principal CEPH-83574449
  rgw/v2/tests/s3_swift/configs/test_sts_invalid_principal.yaml
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, review-in-progress

#387 T2 automation of CEPH-83575154 and CEPH-83574036
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_encryption_normal_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_object.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_object_versioninig_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_encryption_normal_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_object.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_object_versioninig_enabled.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW

#390 fix for getting same tenant name for next execution
  rgw/v2/tests/s3_swift/test_multitenant_user_access.py
Labels: RGW, pr-verified

#392 For the multipart upload testing increasing object size from 5kB to ceratin MB
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_multipart_object_expiration.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_object_exp_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_lc_object_exp_multipart_notifications.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_persistent_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_none_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_rgw_mfa_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_data_omap_offload_multipart.yaml
Labels: RGW

#393 Changes to incorporate retain_head_object option in cloud transition
  rgw/v2/tests/s3_swift/configs/test_cloud_transition_headobject_false.yaml
  rgw/v2/tests/s3_swift/configs/test_cloud_transition_headobject_true.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_cloud_transition.py
Labels: RGW

#398 bucket notification: verify awsRegion in event record
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: RGW, pr-verified

#395 sse: removing version deletion to fix pipeline
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_object_versioninig_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_encryption_version_enabled.yaml
Labels: RGW, pr-verified

#397 Adds functionality of user defined bucket shard number
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified

#402 [RGW-T2 Automation]: CEPH-83574832
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3_swift/configs/test_bucket_check_fix.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified
