Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-08, with the labels that each got.

#621 Including ssl support to aws testcases
  rgw/v2/lib/aws/resource_op.py
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
  rgw/v2/tests/aws/test_delete_version_id_null.py
  rgw/v2/tests/aws/test_sts_rename_large_object.py
Labels: enhancement, RGW, pr-verified, lgtm, tfa-issue-fix

#618 testing bucket notifications with radosgw-admin notification commands
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_rgw_admin_notif_rm.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
  rgw/v2/tests/s3_swift/test_bucket_policy_with_tenant_user.py
Labels: RGW, pr-verified, lgtm, Tier-2, early-automation-7.1

#622 S3 bucket policies for same and cross tenant users to get object torrent
  rgw/v2/tests/s3_swift/configs/test_policy_torrent.yaml
  rgw/v2/tests/s3_swift/test_policy_torrent.py
Labels: RGW, lgtm

#619 Swift at root URL checks
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/configs/test_swift_at_root.yaml
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, lgtm

#615 [hotfix][apple] testing sts session policy behaviour for actions like batch deletes
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_multiple_statements.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_verify_role_policy_allow_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_verify_role_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_allow_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_allow_put_object_and_deny_abort_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_deny_sns_topic_actions.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_policy_ops.py
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
  rgw/v2/tests/s3_swift/test_sts_aswi.py
  rgw/v2/tests/s3_swift/test_sts_using_boto_session_policy.py
Labels: RGW, pr-verified, lgtm, Tier-2, hotfix

#623 Unset the swift at root url which will cause all S3 tests folloing to…
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, lgtm

#627 [Tier-3] CEPH-83581962 : sync policy with destination param user mode
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_user_mode_direc.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_user_mode_symm.yaml
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, tier-3

#624 testing rgw user capability user-info-without-keys
  rgw/v2/tests/curl/configs/test_rgw_user_cap_user_info_without_keys.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_rgw_using_curl.py
Labels: RGW, pr-verified, lgtm, Tier-2

#625 [TFA]removing topic get for auto-generated notif topic on all versions and removing topic list on quincy
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#626 test how many versions of a key can be archived
  rgw/v2/tests/s3_swift/multisite_configs/test_archive_versions.yaml
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, review-in-progress, tier-3

#629 TFA[RHCEPHQE-15403] for the tier-2_ms_archive suite
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_archive_site.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_remote_site.yaml
Labels: RGW, lgtm, tfa-issue-fix

#628 [TFA]improvise delete_objects policy action verification and remove notif actions from policy verification configs
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_policy_multiple_statements.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_with_bucket_policy.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_verify_role_policy_allow_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_verify_role_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_allow_actions.yaml
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_deny_actions.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_policy_ops.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
