Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-02, with the labels that each got.

#547 TFA, fixing the KeyError download_object_at_remote_site
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, tfa-issue-fix

#541 Early automation of RGW-LC improvements and LC expiration at archive zone
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_archive_current_expiration.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_archive_newer_noncurrent_expiration.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_archive_noncurrent_expiration.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_archive_objects_size_noncurrent.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_lifecycle_s3cmd.py
Labels: RGW, lgtm, Tier-2, 7.0-bugs-automate, early-automation-7.1

#549 [Tier-2]CEPH-11148 - s3:PutBucketWebsite with users in same and different tenant
  rgw/v2/lib/resource_op.py
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/configs/test_put_bucket_website_with_tenant_same_and_different_user.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_policy_with_tenant_user.py
Labels: RGW, pr-verified, lgtm, Tier-2

#548 Introduce rate limit conflict between global and user scope.
  rgw/v2/lib/resource_op.py
  rgw/v2/tests/s3cmd/configs/test_ratelimit_global.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_ratelimit_global.py
Labels: RGW, lgtm

#544 testing sts aswi creds expire while object copy is in progress
  rgw/v2/tests/s3_swift/configs/test_sts_aswi_creds_expire_copy_in_progress.yaml
  rgw/v2/tests/s3_swift/reusables/sts.py
  rgw/v2/tests/s3_swift/test_sts_aswi.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-4, hotfix

#543 [TFA] double-check with head_bucket if bkt del fails with NoSuchBucket and reducing listing time because of timeit
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#550 Enhancement of s3cmd installation on ssl setup
  rgw/v2/lib/s3cmd/auth.py
Labels: enhancement, RGW, pr-verified, lgtm, tfa-issue-fix

#546 Enhancement to the sync_status module
  rgw/v2/lib/sync_status.py
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/user_create.py
Labels: enhancement, RGW, pr-verified, lgtm

#551 [Tier-2] s3:GetBucketWebsite using tenant user CEPH-11150
  rgw/v2/tests/s3_swift/configs/test_get_bucket_website_with_tenant_same_and_different_user.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_policy_with_tenant_user.py
Labels: RGW, pr-verified, lgtm, Tier-2

#552 reverting lc_debug_interval to 30 for lc transition conflict testcase
  rgw/v2/tests/s3_swift/configs/test_lc_rule_conflict_transition_actions.yaml
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#556 [TFA] Fetch realm name from sync status as period config will not have realm name
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#553 Mdlog check enhance
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#559 Lc expiration with custom lc worktime
  rgw/v2/tests/s3_swift/configs/test_lc_with_custom_worktime.yaml
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#558 [Tier-3] adding pre-requisite for CEPH-83575073 for cosbench workload
  rgw/v2/tests/aws/configs/test_aws.yaml
  rgw/v2/tests/aws/configs/test_aws_versioned_bucket_creation.yaml
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, pr-verified, lgtm, tier-3

#554 verify rgw quota using curl and test conflict bucket quota
  rgw/v2/lib/curl/resource_op.py
  rgw/v2/tests/curl/configs/test_curl_transfer_encoding_chunked.yaml
  rgw/v2/tests/curl/configs/test_quota_mgmt_bucket_quota_using_curl.yaml
  rgw/v2/tests/curl/configs/test_quota_mgmt_conflict_bucket_quota_using_curl.yaml
  rgw/v2/tests/curl/configs/test_quota_mgmt_user_quota_using_curl.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_quota_using_curl.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#560 Include minor conditional check in sync sttaus module
  rgw/v2/lib/sync_status.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#562 [Tier-3] support for creation of multiple versioned buckets
  rgw/v2/tests/aws/configs/test_aws_versioned_bucket_creation.yaml
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, pr-verified, lgtm, tier-3

#561 Fix failure seen with mfa testcase
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_rgw_mfa.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
