Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-12, with the labels that each got.

#647 Test higher than default shard limit for DBR
  rgw/v2/tests/s3_swift/configs/test_dbr_high_default_limit.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: lgtm

#646 Test the CRLF fault injection using CORS
  rgw/v2/lib/curl/resource_op.py
  rgw/v2/tests/curl/configs/test_crlf_injection_curl.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_cors_using_curl.py
Labels: RGW, lgtm, Tier-2

#652 [TFA]: Fix failure with coolocated archive zone testcase
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
