Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-01, with the labels that each got.

#530 TFA: for conflicting LC transition actions
  rgw/v2/lib/s3/lifecycle_validation.py
Labels: RGW, lgtm, tfa-issue-fix

#529 TFA and archive zone workaround automation for BZ-2213138
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_multipart_haproxy.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_no_reshard_haproxy.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, lgtm, tfa-issue-fix, hotfix

#526 [T4-Automation][SS][ceph-qe-script]: CEPH-10649
  rgw/v2/tests/s3_swift/configs/test_s3_and_swift_versioning.yaml
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, pr-verified, lgtm, Tier-4

#533 Adding the config conflict_transition_actions in the resource_op.py
  rgw/v2/lib/resource_op.py
Labels: lgtm

#531 CEPH-9220[RGW]:Create users with different permission levels and acce…
  rgw/v2/tests/s3_swift/configs/test_swift_user_access_read.yaml
  rgw/v2/tests/s3_swift/configs/test_swift_user_access_readwrite.yaml
  rgw/v2/tests/s3_swift/configs/test_swift_user_access_write.yaml
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, pr-verified, lgtm, Tier-2

#534 CEPH-83575468: no bilogs generated at archive zone
  rgw/v2/tests/s3_swift/multisite_configs/test_bilog_trim_archive.yaml
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, lgtm, close-loop-automation, Tier-2

#537 [TFA issue Fix] swift Container DELETE failed: There was a conflict w…
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#535 fixing lc transition conflict tc failure because of verification at lc processing time
  rgw/v2/lib/s3/lifecycle_validation.py
  rgw/v2/tests/s3_swift/configs/test_lc_rule_conflict_transition_actions.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#540 Enhance bucket check fix verification as per bz:2257373
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: enhancement, RGW, pr-verified, lgtm, tfa-issue-fix

#532 Function and yaml to check for failed object upload
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_failed.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, lgtm, review-in-progress

#539 Test lc rules reverse transition
  rgw/v2/lib/s3/lifecycle_validation.py
  rgw/v2/tests/s3_swift/configs/test_lc_rule_conflict_exp_days.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_rule_reverse_transition.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, Tier-2

#536 Test encrypted+multipart download at remote site(active/archive)
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_archive_site.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_remote_site.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, Tier-2, 7.0-bugs-automate

#542 Bugs 2247742/2236643 , test inconsistency in size for compression enabled
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_no_reshard_haproxy.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_archive_site.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_remote_site.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, Tier-2, 7.0-bugs-automate

#545 Bucket check ehancement based on new output format for reef7.1
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
