Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-04, with the labels that each got.

#582 adding support for integration testing of SSE with other features
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_none_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_s3select_query_gen_csv_depth1.yaml
  rgw/v2/tests/s3_swift/configs/test_s3select_query_gen_csv_depth2.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_multipart_object_download_after_transition.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_per_bucket_with_bucket_policy.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_bucket_with_notifications_dynamic_reshard.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_s3_per_object_with_sts.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, pr-verified, lgtm

#585 add support to download multipart object using aws
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, pr-verified, lgtm

#586 symlink for sse integration configs in multisite
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_per_bucket_multipart_object_download_after_transition.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_per_bucket_with_bucket_policy.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_per_bucket_with_notifications_dynamic_reshard.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_per_object_with_sts.yaml
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#587 BZ-2267715: QoLife improvements for "rgw-restore-bucket-index" tool
  rgw/v2/tests/s3_swift/test_rgw_restore_index_tool.py
Labels: lgtm

#588 [TFA] Due to index bucket left in cluster issue was seen in radoslist
  rgw/v2/tests/s3_swift/test_indexless_buckets.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix, baremetal

#590 [TFA] increasing a sync check time a bit by 2m
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#591 Address TFA failure, s3cmd user profile switch needed
  rgw/v2/tests/s3cmd/test_ratelimit_bucketowner.py
Labels: RGW, lgtm

#589 adding support for multipart object upload using curl
  rgw/v2/tests/curl/configs/test_rgw_curl_multipart_upload.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_rgw_using_curl.py
Labels: RGW, pr-verified, lgtm, Tier-2
