Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-09, with the labels that each got.

#631 TFA RHCEPHQE-15799
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, tfa-issue-fix

#632 Support format change for owneridentidty in event record squid
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: enhancement, RGW, pr-verified, lgtm, tfa-issue-fix

#633 Include support to add placement and storageclass during user creation
  rgw/v2/tests/s3_swift/configs/test_user_with_placement_id_storage_class.yaml
  rgw/v2/tests/s3_swift/configs/test_user_with_placement_id_storage_class_cold.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/user_create.py
Labels: enhancement, RGW, pr-verified, lgtm, Tier-2
