Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-10, with the labels that each got.

#634 adding support for testing s3api GetObjectAttributes
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_get_object_attributes.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_get_object_attributes_checksum_sha256.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_get_object_attributes_multipart.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, Tier-1, early-automation-8.0

#637 Update CEPH-11209 with rgw_torrent_flag
  rgw/v2/tests/s3_swift/test_policy_torrent.py
Labels: RGW, lgtm

#636 Test Checksum algorithms
  rgw/v2/tests/aws/configs/test_checksum_api.yaml
  rgw/v2/tests/aws/configs/test_wrong_checksum.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_checksum.py
Labels: RGW, lgtm, Tier-2, Tier-4
