Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-03, with the labels that each got.

#564 [AWS]:Verification -ETag should not be empty during complete multipar…
  rgw/v2/tests/aws/configs/test_complete_multipart_upload_etag_not_empty.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
Labels: enhancement, RGW, pr-verified, lgtm, Tier-1

#563 [Tier-2]Configure sync to a different bucket in another zone
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_sync_to_diff_bucket.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, Tier-2, early-automation-7.1

#568 Add support to run multipart upload test via haproxy
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_multipart_via_haproxy.yaml
Labels: RGW, lgtm

#569 [TFA] Upstream main 19.0.0-.. format update for radosgw-admin bucket stats --uid ...
  rgw/v2/tests/s3_swift/test_swift_basic_ops.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#567 Test to Put non ascii characters in a S3 request
  rgw/v2/tests/aws/configs/test_aws_non_ascii.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, lgtm

#565 Changes needed to test Ldap authentication on containerised RGW
  rgw/v2/tests/aws/configs/test_ldap_auth.yaml
  rgw/v2/tests/aws/test_ldap_auth.py
Labels: RGW, lgtm

#566 [Tier-2][CEPH-83575140] Configure sync from different bucket
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_sync_from_diff_bucket.yaml
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, Tier-2, early-automation-7.1

#571 Cloud transition: Getting the cloud user creds securely from cephci-j…
  rgw/requirements.txt
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, lgtm, review-in-progress, security-enhancement

#573 [Tier-3]Archive zone testing(Enable/Disable per bucket Replication to Archive Zone
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_archive_directional.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_multisite_granular_bucketsync_archive_symmetrical.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, tier-3, early-automation-7.1

#574 [RGW-T2-Automation]: Test LC process (perform radosgw-admin lc proces…
  rgw/v2/tests/s3_swift/configs/test_lc_process_without_applying_rule.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_transition_with_lc_process.yaml
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, Tier-2

#575 CEPH-83573389 Archive zone colocated with data zone
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_multipart_archive_colocated.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, lgtm, tier-3

#576 Automating the LC improvements testcases for active zones
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_newer_noncurrent_expiration_local.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_lifecycle_objects_size_noncurrent_local.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_lifecycle_s3cmd.py
Labels: RGW, lgtm, tier-3, Tier-1, early-automation-7.1

#577 [Tier-3]Test by adding almost 1K buckets to the resharding queue
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
  rgw/v2/tests/s3cmd/configs/test_disable_and_enable_dynamic_resharding_with_10k_bucket.yaml
  rgw/v2/tests/s3cmd/configs/test_disable_and_enable_dynamic_resharding_with_1k_bucket.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, lgtm, tier-3

#578 Test bucket owner change with ratelimits configured
  rgw/v2/tests/s3cmd/configs/test_ratelimit_bucketowner.yaml
  rgw/v2/tests/s3cmd/test_ratelimit_bucketowner.py
Labels: RGW, lgtm

#580 CEPH-83575592: Automate assume-role at multisite.
  rgw/v2/tests/s3_swift/multisite_configs/test_sts_multisite.yaml
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, lgtm, tier-3, product-bug-via-automation

#583 Automation: CEPH-83574088:Changing the value of rgw_data_log_num_shar…
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/configs/test_changing_data_log_num_shards_cause_no_crash.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_changing_data_log_num_shards_cause_no_crash.yaml
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, tier-3
