Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-06, with the labels that each got.

#597 Fixing the versioned bucket test on colocated archive zone
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_multipart_archive_colocated.yaml
Labels: RGW, lgtm, tfa-issue-fix

#599 [Tier-3] CEPH-83581958 - Set sync policy to particular destination owner
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_owner_translation_direc.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_owner_translation_symm.yaml
Labels: RGW, pr-verified, lgtm, tier-3, early-automation-7.1

#598 [Tier-3]Bucket Granular sync policy with storage class
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_storage_class_direc.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_granularsync_storage_class_symm.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_multisite_bucket_granular_sync_policy.py
Labels: RGW, pr-verified, lgtm, tier-3, early-automation-7.1

#594 Test data sync init feature for buckets resharded to 1999 sh…
  rgw/v2/tests/s3_swift/multisite_configs/test_data_sync_init_remote_zone.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/reusables/upload_object_via_s3client.py
  rgw/v2/tests/s3_swift/test_data_sync_init_remote.py
Labels: RGW, lgtm, tier-3, v3-implementation

#600 Enhancemnet for d3n script to create cache path in all the rgw nodes …
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/test_d3n_cache.py
Labels: enhancement, RGW, pr-verified, lgtm, tfa-issue-fix

#601 Move LDAP functionality to ceph-qe-scripts instead of cephci
  rgw/v2/tests/aws/test_ldap_auth.py
Labels: RGW, lgtm

#602 [Tier-3]:CEPH-83573543: Verify lifecycle removes all the non-current …
  rgw/v2/tests/s3cmd/configs/test_lc_expiration_noncurrent_when_current_object_deleted_via_s3cmd.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_lifecycle_s3cmd.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, tier-3

#606 Automate IBM cloud transition with compression and encryption and tfa fixes.
  rgw/v2/tests/s3_swift/multisite_configs/test_lc_cloud_transition_ibm_retain_false.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_s3_bucket_enc_multipart_download_archive_site.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, lgtm, tfa-issue-fix, Tier-4
