Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-11, with the labels that each got.

#639 update GKLM encrpytion key as new GKLM server deployed on ceph-core vm node
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_normal_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_object.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_object_versioninig_enabled.yaml
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#640 Test the CORS feature
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/curl/configs/test_cors_using_curl.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_cors_using_curl.py
Labels: RGW, lgtm, Tier-2

#641 [TFA] AttributeError: for 'test_ops' seen, as config was not sent to the function declartion
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#643 Move to AWSCLI v2 for the latest supported CLI
  rgw/v2/lib/aws/auth.py
Labels: enhancement, RGW, lgtm

#642 Test reshard feature after bucket owner is changed
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_chown_reshard.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, lgtm, Tier-2

#644 TFA: Fixing difference in noncurrent event type
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#645 [Tier-2] Ensure DBR is successful on versioned buckets, after suspending and enabling versioning
  rgw/v2/tests/s3_swift/multisite_configs/test_versioning_objects_suspend_enable.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified, lgtm, Tier-2
