Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2024-07, with the labels that each got.

#605 List Versioned bucket with marker entry
  rgw/v2/tests/aws/configs/test_versioned_list_marker.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, lgtm

#608 [T4-automation]:CEPH-83575470 - URI query parameters values in the RGW ops log file and rgw log details
  rgw/v2/tests/s3cmd/configs/test_rgw_log_details.yaml
  rgw/v2/tests/s3cmd/configs/test_rgw_opslog.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_rgw_log_details.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_rgw_ops_log.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-4

#609 adding support for testing sse-kms with kmip backned and gklm key management server
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_normal_object_upload.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_object.yaml
  rgw/v2/tests/s3_swift/configs/test_sse_kms_kmip_gklm_per_object_versioninig_enabled.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_kmip_gklm_per_bucket_encryption_multipart_object_upload.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_kmip_gklm_per_bucket_encryption_normal_object_upload.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_kmip_gklm_per_bucket_encryption_version_enabled.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_kmip_gklm_per_object.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_sse_kms_kmip_gklm_per_object_versioninig_enabled.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/reusables/server_side_encryption_s3.py
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, pr-verified, lgtm, Tier-2

#612 [T3-automation]: CEPH-83575383 Scale automation pre-requisite
  rgw/v2/tests/aws/configs/test_aws_buckets_creation.yaml
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, pr-verified, lgtm, tier-3

#614 Adding bucket notification for archive zone for ObjectSync events
  rgw/v2/tests/s3_swift/multisite_configs/test_bucket_notification_kafka_broker_archive_delete_replication_from_pri.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, lgtm, Tier-4

#607 Add automation for LC transition with Tag and AND filters CEPH-83574047
  rgw/v2/tests/s3_swift/configs/test_lc_transition_with_prefix_and_tag_rule.yaml
Labels: RGW, lgtm

#613 [Hotfix][MOD]: testing multipart upload with failed upload parts
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3cmd/configs/test_multipart_upload_with_failed_parts_using_s3cmd_and_boto3.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, lgtm, Tier-2, hotfix

#616 [Fix TFA] tier-1_rgw_ms_upgrade_6_1GA_to_7x_latest - S3CMD_tests,_rgw_log_details
  rgw/v2/tests/s3cmd/test_rgw_ops_log.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix
