Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-01, with the labels that each got.

#650 Test Max number of generations supported on DBR
  rgw/v2/tests/s3_swift/multisite_configs/test_max_generations.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, lgtm, Tier-2

#653 [Customer-case]: anonymous PUT to bucket with public-read-write ACL f…
  rgw/v2/tests/aws/configs/test_public_read_write_acl.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_acl.py
Labels: RGW, pr-verified, lgtm, approved, close-loop-automation, Tier-2

#654 s3 object restore feature automation
  rgw/v2/tests/s3_swift/multisite_configs/test_lc_cloud_transition_restore_object.yaml
  rgw/v2/tests/s3_swift/reusables/s3_object_restore.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, lgtm, approved, tier-3, Tier-2, Tier-1, feature-automation

#655 Automation of Inditex hotfix bz testing: CORS presigned put url
  rgw/v2/lib/curl/resource_op.py
  rgw/v2/tests/curl/configs/test_cors_presigned_put_url_using_curl.yaml
  rgw/v2/tests/curl/reusable.py
  rgw/v2/tests/curl/test_cors_using_curl.py
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, hotfix

#658 correcting the sleep time to 240 seconds
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: lgtm

#661 Check name update in mergify
  .github/mergify.yml
Labels: lgtm, approved

#657 [Customer-BZ][Automation]: radosgw-admin lc process --bucket <bucket>…
  rgw/v2/tests/s3_swift/configs/test_lc_process_with_versioning_suspended.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, approved, close-loop-automation, Tier-2

#659 [Tier-2] lifecycle header 'x-amz-expiration' validation
  rgw/v2/tests/s3_swift/configs/test_lc_date_expire_header.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_days_expire_header.yaml
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, pr-verified, lgtm, Tier-2

#663 [Tier-2] datalog trimming post restart of rgw service
  rgw/v2/tests/s3_swift/multisite_configs/test_datalog_trimming_post_rgw_restart.yaml
  rgw/v2/tests/s3_swift/test_bilog_trimming.py
Labels: RGW, pr-verified, lgtm, Tier-2

#665 Test metadata sync fairness
  rgw/v2/tests/s3_swift/multisite_configs/test_Mbuckets_with_Nobjects_sync_fairness.yaml
Labels: RGW, lgtm, Tier-2

#664 Apple automation for bucket list causing abnormal client IO
  rgw/v2/tests/s3_swift/configs/test_bucket_listing_fake_mp.yaml
  rgw/v2/tests/s3_swift/reusables/list_fake_mp.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, lgtm, close-loop-automation, tier-3, hotfix

#668 [CEPH-83604857]:Tags added during multipart upload are not retrievable
  rgw/v2/tests/s3_swift/configs/test_multipart_upload_with_tagging.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#670 TFA-fix add a retry for the command to authenticate using LDAP
  rgw/v2/tests/aws/test_ldap_auth.py
Labels: lgtm
