Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-06, with the labels that each got.

#736 create existing bucket with rgw_bucket_eexist_override set
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3cmd/configs/test_create_bucket_for_existing_bucket.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, Tier-2, bug-automation

#737 Fix bucketnotempty error in secondary site
  rgw/v2/tests/s3_swift/test_sse_s3_kms_with_vault.py
Labels: RGW, pr-verified, tfa-issue-fix

#735 TFA : This fixes bucket stats issue with tenanted buckets
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, tfa-issue-fix

#739 [TFA][sts] fix rgw restart causing role create failures
  rgw/v2/tests/s3_swift/configs/test_sts_using_boto_verify_session_policy_deny_sns_topic_actions.yaml
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, pr-verified, tfa-issue-fix

#740 Added Testcase and libraries for CEPH-11193
  rgw/v2/tests/s3_swift/configs/test_swift_all_objects_lc.yaml
  rgw/v2/tests/s3_swift/reusables/swift_reusable.py
  rgw/v2/tests/s3_swift/test_swift_all_objects_lc.py
Labels: RGW, Tier-2

#743 Add a openstack endpoint cleanup to clear stale swift endpoints
  rgw/v2/tests/aws/test_unified_namespace.py
Labels: RGW, tfa-issue-fix

#747 [TFA] Remove validation for pipe remove
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, tfa-issue-fix

#749 Reduce no of buckets and objects for BVT testcase added download for more coverage
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_upload_and_download.yaml
Labels: RGW, improvement

#734 Copy tail
  rgw/v2/tests/aws/configs/test_tail_deletion_during_copy_object_10m.yaml
  rgw/v2/tests/aws/configs/test_tail_deletion_during_copy_object_1g.yaml
  rgw/v2/tests/aws/configs/test_tail_deletion_during_copy_object_6m.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_tail_deletion_during_copy_object.py
Labels: RGW, pr-verified, close-loop-automation, Tier-2

#748 [improvement]adding rgw status check when there is a rgw restart
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, tfa-issue-fix, improvement

#751 [TFA] RGW configuration update for rgw_bucket_eexist_override
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, tfa-issue-fix
