Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-07, with the labels that each got.

#755 [BZ2338402]: No error while performing radosgw-admin olh get
  rgw/v2/tests/s3cmd/configs/test_olh_get.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, close-loop-automation, Tier-2

#754 Changes needed for keystone and LDAP scripts to run in IBMC and RHOSD
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_keystone_auth.py
  rgw/v2/tests/aws/test_ldap_auth.py
  rgw/v2/tests/aws/test_unified_namespace.py
Labels: RGW

#756 [kafka-cluster] adding support for testing bucket notification with partitioned kafka topic
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: enhancement, RGW, pr-verified, close-loop-automation

#762 [close loop] using awscli verify rgw_bucket_eexist_override
  rgw/v2/tests/aws/configs/test_aws_create_bucket_for_existing_bucket.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_aws.py
Labels: RGW, pr-verified, close-loop-automation, Tier-2

#760 TFA-fix Rgw daemons check after restart failing In multisite setup with sync and io rgw's
  rgw/v2/utils/utils.py
Labels: RGW, tfa-issue-fix

#757 Added Testcase CEPH-10734
  rgw/v2/tests/s3_swift/multisite_configs/test_swift_tenanted_user.yaml
  rgw/v2/tests/s3_swift/test_swift_tenanted_user.py
Labels: RGW, Tier-2

#730 adding sanity support for testing server-access-logging
  rgw/v2/tests/s3_swift/configs/test_bucket_logging_journal_mode.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_logging_journal_mode_multipart.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_logging_standard_mode.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_logging_standard_mode_multipart.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/reusables/server_access_logging.py
  rgw/v2/tests/s3_swift/test_server_access_logging.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, close-loop-automation, Tier-1, feature-automation

#763 [T1]: Verify the downshard feature
  rgw/v2/lib/resource_op.py
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/tests/s3_swift/configs/test_downshard.yaml
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, Tier-1

#764 [closeloop][automation]: list-object-versions fails on versioned bucket
  rgw/v2/tests/aws/configs/test_bucket_listing_large_objects.yaml
  rgw/v2/tests/aws/test_list_object_versions.py
Labels: RGW

#758 Automation - CEPH-83575183: s3-select-reshard
  rgw/v2/tests/s3_swift/configs/test_s3select_parquet_resharding.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_s3select_resharding.py
Labels: RGW, Tier-2
