Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-02, with the labels that each got.

#671 Swift bulk upload
  rgw/v2/tests/s3_swift/configs/test_swift_bulk_upload.yaml
  rgw/v2/tests/s3_swift/test_swift_bulk_upload.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#673 Disable dbr feature in archive zone
  rgw/v2/tests/s3_swift/multisite_configs/test_resharding_disable_in_archive_zone.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#672 adding support for testing public_access_block
  rgw/v2/tests/s3_swift/configs/test_public_access_block_acl.yaml
  rgw/v2/tests/s3_swift/configs/test_public_access_block_ignore_acl.yaml
  rgw/v2/tests/s3_swift/configs/test_public_access_block_post_bucket_policy.yaml
  rgw/v2/tests/s3_swift/configs/test_public_access_block_pre_bucket_policy.yaml
  rgw/v2/tests/s3_swift/configs/test_public_access_block_restricted_public_buckets.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_policy_ops.py
Labels: RGW, pr-verified, lgtm, close-loop-automation, Tier-2

#677 [Tier-2] Set storage policy to use placement for S3 and swift user
  rgw/v2/tests/s3_swift/configs/test_storage_policy_s3.yaml
  rgw/v2/tests/s3_swift/configs/test_storage_policy_swift.yaml
  rgw/v2/tests/s3_swift/test_storage_policy.py
Labels: RGW, pr-verified, lgtm, Tier-2

#678 increase timeout for lc
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, baremetal

#674 Made required changes for s3cmd download/get on tertiary cluster
  rgw/v2/tests/s3cmd/configs/test_get_s3cmd_tertiary.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, Tier-2

#682 Support for client tool s5cmd
  rgw/requirements.txt
  rgw/v2/lib/exceptions.py
  rgw/v2/lib/s5cmd/__init__.py
  rgw/v2/lib/s5cmd/auth.py
  rgw/v2/lib/s5cmd/resource_op.py
  rgw/v2/tests/s5cmd/__init__.py
  rgw/v2/tests/s5cmd/configs/test_s5cmd_basic_op.yaml
  rgw/v2/tests/s5cmd/reusable.py
  rgw/v2/tests/s5cmd/test_s5cmd.py
Labels: RGW, pr-verified, v3-implementation

#681 automate testing of hotfix bz2337265: segfault in kafka topic name compare operator overload
  rgw/v2/tests/s3_swift/configs/test_bucket_notification_kafka_broker_multipart_with_kafka_acl_config_set.yaml
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified, close-loop-automation, Tier-4, hotfix
