Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-03, with the labels that each got.

#684 Ratelimit division on multiple RGW daemon in the cluster
  rgw/v2/tests/s3cmd/configs/test_ratelimit_split.yaml
  rgw/v2/tests/s3cmd/reusable.py
  rgw/v2/tests/s3cmd/test_rate_limit.py
Labels: RGW, Tier-4

#685 Workaround to fix user creation failure bug-2314816
  rgw/v2/lib/sync_status.py
Labels: RGW, tfa-issue-fix

#683 Library to support rgw node reboot
  rgw/v2/tests/s3_swift/reusable.py
Labels: enhancement, RGW

#686 [Tier-4]: CEPH-83572752 - RGW multisite sync Error log
  rgw/v2/tests/s3cmd/multisite_configs/test_sync_error_list.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, Tier-4

#691 [TFA] swift command not found as it installed inside virtual environment
  rgw/v2/tests/s3_swift/swift_stats.py
Labels: RGW, pr-verified, tfa-issue-fix

#688 CEPH-83575113: Bring down a site while the sync is in progress and te…
  rgw/v2/lib/sync_status.py
  rgw/v2/tests/s3_swift/multisite_configs/test_sync_consistent_post_service_down_up.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sync_post_destruptive_services.py
Labels: RGW, pr-verified, Tier-4

#697 [RGW-MS][Automation][Tier-3]: CEPH-83574448: Verify node reboot durin…
  rgw/v2/tests/s3_swift/multisite_configs/test_sync_consistent_with_node_reboot.yaml
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sync_post_destruptive_services.py
Labels: RGW, pr-verified, tier-3

#692 4 files haproxy changes
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_compression.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_compression_snappy.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_compression_zstd.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_download.yaml
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_etag.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_listing_flat_ordered.yaml
  rgw/v2/tests/s3_swift/configs/test_bucket_radoslist.yaml
  rgw/v2/tests/s3_swift/configs/test_dynamic_resharding_with_version_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/configs/test_dynamic_resharding_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/configs/test_lc_transition_multiple_rules.yaml
  rgw/v2/tests/s3_swift/configs/test_manual_resharding_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_dynamic_resharding_with_version_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_dynamic_resharding_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_manual_resharding_without_bucket_delete.yaml
  rgw/v2/tests/s3_swift/test_bucket_listing.py
  rgw/v2/tests/s3_swift/test_dynamic_bucket_resharding.py
  rgw/v2/tests/s3cmd/configs/test_get_s3cmd.yaml
  rgw/v2/tests/s3cmd/configs/test_rgw_log_details.yaml
  rgw/v2/tests/s3cmd/multisite_configs/test_rgw_log_details.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, haproxy

#690 CEPH-83591689: RGW Accounts: scale bidirectional uploads & sync validation with Elbencho
  rgw/v2/tests/s3_swift/multisite_configs/test_rgw_accounts_at_scale.yaml
  rgw/v2/tests/s3_swift/reusables/rgw_s3_elbencho.py
  rgw/v2/tests/s3_swift/test_rgw_account_management.py
Labels: RGW, tier-3, baremetal, elbencho

#679 adding support for lc processing on existing user and bucket passed from the config
  rgw/v2/lib/resource_op.py
  rgw/v2/lib/rgw_config_opts.py
  rgw/v2/lib/s3/lifecycle_validation.py
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, tier-3, baremetal

#693 adding the conf and suite for extensa setup for reference
  rgw/standalone/extensa/extensa_ms_archive_conf.yaml
  rgw/standalone/extensa/extensa_ms_archive_deploy.yaml
Labels: RGW, baremetal

#699 Fix failure seen with multipart tagset
  rgw/v2/tests/s3_swift/configs/test_multipart_upload_with_tagging.yaml
  rgw/v2/tests/s3_swift/test_LargeObjGet_GC.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_config_ops.py
Labels: RGW, pr-verified, tfa-issue-fix

#696 TFA : 'rgw_conn2' for s3client instead of 's3_client' to fix the issue.
  rgw/v2/tests/s3_swift/test_bucket_lifecycle_object_expiration_transition.py
Labels: RGW, tfa-issue-fix

#700 Keystone INtegration with RGW
  rgw/v2/tests/aws/configs/test_keystone_integration.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_keystone_auth.py
Labels: RGW, Tier-2

#702 Include workaround for user reset as per BZ2167475
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: enhancement, RGW, tfa-issue-fix

#704 [TFA] tenanted bucket name having duplicate tenantname and bucket prifix
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
Labels: RGW, pr-verified, tfa-issue-fix

#695 Automating radosgw-admin command negative scenarios in RGW multisite
  rgw/v2/tests/s3_swift/multisite_configs/test_negative_radosgw_admin_primary.yaml
  rgw/v2/tests/s3_swift/multisite_configs/test_negative_radosgw_admin_secondary.yaml
  rgw/v2/tests/s3_swift/test_negative_radosgwadmin_commands.py
Labels: RGW, Tier-2
