Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-04, with the labels that each got.

#707 [Tier-3]Create and clear large omap in green and brown field
  rgw/v2/tests/s3cmd/configs/test_large_omap_clearance_brown_field_post_upgrade.yaml
  rgw/v2/tests/s3cmd/configs/test_large_omap_clearance_brown_field_pre_upgrade.yaml
  rgw/v2/tests/s3cmd/configs/test_large_omap_clearance_green_field.yaml
  rgw/v2/tests/s3cmd/test_large_omap.py
Labels: RGW, pr-verified, p0, tier-3

#705 Test unified namespace of S3 and swift using keystone implicit tenants
  rgw/v2/tests/aws/configs/test_unified_namespace.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_keystone_auth.py
  rgw/v2/tests/aws/test_unified_namespace.py
Labels: RGW, tier-3

#712 Increase sleep for RGW to restart after adding options
  rgw/v2/tests/aws/reusable.py
Labels: tfa-issue-fix

#711 [TFA]: Issue seen with user info get
  rgw/v2/tests/aws/test_acl.py
  rgw/v2/tests/aws/test_aws.py
  rgw/v2/tests/aws/test_checksum.py
  rgw/v2/tests/s3_swift/test_Mbuckets_with_Nobjects.py
Labels: RGW, pr-verified, tfa-issue-fix

#716 Minor change to the tenanted user comparision check
  rgw/v2/tests/aws/test_unified_namespace.py
Labels: RGW, tfa-issue-fix

#715 TFA FIX : test swift stats command for more than 1000 buckets:
  rgw/v2/tests/s3_swift/swift_stats.py
Labels: RGW, tfa-issue-fix

#714 [TFA] adding support for testing checksum_type field in get_object_attributes
  rgw/v2/tests/s3_swift/reusable.py
Labels: RGW, pr-verified, tfa-issue-fix

#718 Fix Key error: user_name not found
  rgw/v2/tests/aws/test_acl.py
  rgw/v2/tests/aws/test_aws.py
  rgw/v2/tests/aws/test_checksum.py
Labels: RGW, pr-verified, tfa-issue-fix

#713 Include client tool version capture
  rgw/v2/lib/aws/auth.py
  rgw/v2/lib/s3/auth.py
  rgw/v2/lib/s3cmd/auth.py
  rgw/v2/lib/s5cmd/auth.py
  rgw/v2/tests/s5cmd/reusable.py
Labels: enhancement, RGW, pr-verified

#717 Added TestCase :test_swift_acl_with_keystone (CEPH-83572657)
  rgw/v2/tests/s3_swift/configs/test_swift_acl_with_keystone.yaml
  rgw/v2/tests/s3_swift/reusables/swift_reusable.py
  rgw/v2/tests/s3_swift/test_swift_acl_with_keystone.py
Labels: RGW, tier-3

#721 [TFA]:Fix failure seen with create_20_bucket_in_primary
  rgw/v2/lib/resource_op.py
Labels: RGW, pr-verified, tfa-issue-fix

#722 [TFA] wait untill all rgw are up in case of multiple rgw
  rgw/v2/tests/s3_swift/reusable.py
  rgw/v2/tests/s3_swift/test_sts_using_boto.py
Labels: RGW, pr-verified, tfa-issue-fix, improvement

#727 Fix issue seen with multipart upload with checksum algorithm
  rgw/v2/tests/aws/reusable.py
Labels: RGW, pr-verified, tfa-issue-fix

#728 [TFA]: fix failure seen with X-RGW-Quota-Max-Buckets
  rgw/v2/tests/curl/configs/test_quota_mgmt_conflict_bucket_quota_using_curl.yaml
Labels: RGW, pr-verified, tfa-issue-fix

#725 TFA fix for keystone request not being honored in the first go
  rgw/v2/tests/aws/test_keystone_auth.py
  rgw/v2/tests/aws/test_unified_namespace.py
Labels: RGW, tfa-issue-fix
