Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-05, with the labels that each got.

#729 [TFA-fix] dynamic resharding post upgrade - tfa fix
  rgw/v2/lib/rgw_config_opts.py
Labels: RGW, tfa-issue-fix

#731 [TFA]: Fix nfs mount failure
  rgw/v2/tests/nfs_ganesha/config/nfs_mount_creation.yaml
  rgw/v2/tests/nfs_ganesha/nfs_cluster.py
Labels: RGW, pr-verified, lgtm, tfa-issue-fix

#732 [TFA][notif] workaround for 8.1 topic list issue and reducing time taken to verify event records
  rgw/v2/tests/s3_swift/reusables/bucket_notification.py
  rgw/v2/tests/s3_swift/test_bucket_notifications.py
Labels: RGW, pr-verified, approved, tfa-issue-fix

#710 CEPH-83614243: rgw-orphan-list utility
  rgw/v2/tests/s3_swift/configs/test_rgw_orphan_list.yaml
  rgw/v2/tests/s3_swift/reusables/rgw_orphan_list.py
  rgw/v2/tests/s3_swift/test_rgw_orphan_list.py
Labels: RGW, Tier-2

#733 [Automate][BZ2338149]: stting public acl to the bucket
  rgw/v2/tests/s3cmd/configs/test_setting_public_acl.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, Tier-2
