Repository red-hat-storage/ceph-qe-scripts, pull requests merged in 2025-09, with the labels that each got.

#779 [closeloop][Tier-2]copy from secondary
  rgw/v2/lib/s3cmd/auth.py
  rgw/v2/tests/s3cmd/multisite_configs/test_s3cmd_put_obj_primary_cp_obj_secondary.yaml
  rgw/v2/tests/s3cmd/test_s3cmd.py
Labels: RGW, pr-verified, close-loop-automation, Tier-2

#777 GC Enhancement - phase1
  rgw/v2/tests/s3_swift/configs/test_Mbuckets_with_Nobjects_delete.yaml
  rgw/v2/tests/s3_swift/reusable.py
Labels: enhancement, RGW, close-loop-automation

#785 [Automate][BZ2379275]:[Versioned-Bucket]: Crash in thread 7fbbf781364…
  rgw/v2/tests/aws/configs/test_delete_version_id_null.yaml
  rgw/v2/tests/aws/configs/test_no_crash_while_ver_deletion.yaml
  rgw/v2/tests/aws/test_delete_version_id_null.py
  rgw/v2/utils/utils.py
Labels: RGW, pr-verified, close-loop-automation

#787 Implementation of conditional delete with ETAG
  rgw/v2/tests/aws/configs/test_cond_delete_all_correct.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_correct_etag_and_incorrcet_size.yaml.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_correct_size_and_incorrcet_lmt.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_etag.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_incorrect_etag_and_correct_lmt.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_lmt.yaml
  rgw/v2/tests/aws/configs/test_cond_delete_size.yaml
  rgw/v2/tests/aws/configs/test_cond_put_if_match.yaml
  rgw/v2/tests/aws/configs/test_cond_put_if_match_ver.yaml
  rgw/v2/tests/aws/configs/test_cond_put_if_none_match.yaml
  rgw/v2/tests/aws/configs/test_cond_put_if_none_match_ver.yaml
  rgw/v2/tests/aws/reusable.py
  rgw/v2/tests/aws/test_conditional_delete.py
Labels: RGW, close-loop-automation

#790 Fix quota header issue with tentacle
  rgw/v2/tests/curl/test_quota_using_curl.py
Labels: RGW, pr-verified, tfa-issue-fix

#789 added haproxy config
  rgw/v2/tests/s3_swift/test_bucket_listing.py
Labels: RGW, tfa-issue-fix
